.DownloadSection{
    grid-column: col-start 2/col-end 11;

    display: grid;
    justify-items: center;

    margin-top: 10rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 10rem;

    h1{
        text-transform: capitalize;
        margin-top: 3rem;
    }

    p{
        margin-left: 10rem;
        margin-right: 10rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    .BrowserCardsBox{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 4rem;
    }

    .BrowserCard{
        width: 30rem;
        height: 40rem;
        background-color: white;
        box-shadow:  0px  10px 15px rgba(black, .2);
        border-radius: 1rem;

       display: grid;
       justify-items: center;
       align-items: center;

       .browserLogo{
           width: 10rem;
           height: 10rem;

           margin-top: 3rem;
       }

       .Button_fix{
           align-self: end;
       }

       p{
            margin: -3rem 0 0 0 ;
            padding: 1.5rem 3.5rem;
            color: var(--neutral_color_gray)
       }
    }

   
}

.QuestionsSection {
    grid-column: col-start 4/col-end 9;

    display: grid;
    margin-bottom: 10rem;

    h1{
        text-transform: capitalize;
        padding: 0 5rem 0 5rem;
        text-align: center;
        margin-bottom: 5rem;
    }

    .mainText{
        margin-bottom: 5rem;
        padding: 0 2rem 0 2rem;
        text-align: center;
        color: var(--neutral_color_gray)
    }

    .QuestionsBox{
        margin-bottom: 5rem;
    }

    .QuestionTab{
        display: grid;
        grid-template-columns:[first] 50rem [second] 1fr [third];

        padding: 1.5rem 1rem;
        align-items: center;
        border-bottom: 1px solid var(--neutral_color_gray);
        transition: all .3s;

        &:hover {
            color: var(--base_color_red)
        }
        p{
            margin-left: 1rem;
            margin-right: 5rem;
            justify-self: start;
        }

        .Img{
            justify-self: center;
            .ImgActive{
                fill: var(--base_color_red);
                // stroke: var(--base_color_red);
                filter: invert(10%) sepia(91%) saturate(7488%) hue-rotate(27deg) brightness(81%) contrast(115%);
            }
        }

        // .Img{
        //     justify-self: center;
        //     mask-image: url('../../images/icon-arrow.svg');
        //     mask-size: cover;
        //     background-image: none;
        //     background-color: var(--base_color_blue);
        //     .ImgActive{
        //         fill: var(--base_color_red);
        //         stroke: var(--base_color_red);
        //     }
        // }
       
        .AnswerBox{
            grid-column: first / third;
            
            margin-top: 3rem;
            margin-bottom: 3rem;
            color: var(--neutral_color_gray);

            p{
                margin-right: 1rem;
            }
        }
    }
}