@import '../../sass/mixins';

.PopUpModal{

    grid-column: full-start / full-end;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    background-color: rgba(black,  .5);

    display: grid;
    justify-items: center;
    align-items: center;

    .PopUpBox{
        position: absolute;

        display: grid;
        grid-template-columns: [first]55.5rem [second] 55.5rem [fird] ;
        grid-template-rows: [first-row] minmax(min-content, max-content) [second-row];
        align-items: center;
        justify-items: center;
        background-color: white;

        height: 50rem;
        width: 80vw;
        padding:0 4rem 0 4rem;

        
        @include respond(phone-375 ){
            grid-column:full-start/ full-end;

            width: 90vw;
            height:60rem;
            grid-template-columns: [first] 31.5rem [second];
            grid-template-rows: [first-row] minmax(min-content, max-content) [second-row] minmax(min-content, max-content)[third-row];

            padding: 3rem;
        }

        .TabText{
            display: flex;
            flex-direction: column;
            margin-left: 6rem;
            grid-column: second / fird;
            grid-row: first-row/ second-row;

            
            @include respond(phone-375 ){
                grid-column: first / second;
                grid-row: second-row/ third-row;
                margin-left: 0;
                margin-top: 6rem;
                display: grid;
            }


            h1{
                @include respond(phone-375 ){
                    text-align: center;
                    font-size: 2.5rem;
                }
            }

            p{
                margin-top: 3rem;
                color: var(--neutral_color_gray);
                line-height: 1.5;

                @include respond(phone-375 ){
                    text-align: center;
                }
            }

            .ButtonBox{
                display: flex;
                margin-top: 3rem;

                @include respond(phone-375 ){
                    justify-content: center;
                   
                }
            }
        }
        
        .TabImage{
         
            img{
                z-index: 100;
                border-radius: 3rem;
                position: relative;
            }

            grid-column: first / second ;
            grid-row: first-row/ second-row;
            margin-top: 5rem;

            @include respond(phone-375 ){
                grid-column: first / second ;
                grid-row:first-row / second-row ;

                img{
                    width: 31rem;
                    height: 20rem;
                    border-radius: 1rem;
                }
            }
        }

        .CloseButton{

            &:link, &:visited{
                grid-column: second / fird ;
                grid-row: first-row/ second-row;
                z-index: 100;
                position: relative;

                justify-self: end;
                align-self: start;
                margin: 2rem;
                text-decoration: none;
                display: inline-block;
                color: var(--neutral_color_gray);
                font-size: 3rem;
                transition: all .3s;
            }

            @include respond(phone-375 ){
                grid-column: first / second ;
                grid-row:first-row / second-row ;
                margin: 0rem;
            }

            &:hover{
                color: var(--base_color_red)
            }
          
        }
    }
}