@import '../../sass//mixins';

.FooterInfo {
    background-color: var(--neutral_color_dark-blue);
    grid-column: full-start/full-end;

    display: grid;
    grid-template-columns:  [full-start] minmax(1.65rem, 1fr )  
    [center-start] repeat(12, [col-start] minmax(min-content,9.25rem) [col-end] ) [center-end] minmax(1.65rem, 1fr ) [full-end];

    
    @include respond(phone-375 ){
        grid-column: full-start/ full-end;
        
        grid-template-columns:  [full-start] 3rem [center-start] 31.5rem [center-end] 3rem [full-end];
    }

    .InfoBox{
        grid-column: center-start / center-end;

        display: grid;
        grid-template-columns: repeat(12, [col-start] minmax(min-content,9.25rem) [col-end] );
        grid-row: [first] min-content [second];
        align-items: center;

        padding: 1.5rem 0 1.5rem 0 ;

        @include respond(phone-375 ){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }

        .Bookmark{
            grid-column: col-start 1/ col-end 3;
            grid-row: first / second;
            text-transform: uppercase;
            display: flex;

            @include respond(phone-375 ){
                margin-top: 3rem;
            }

            .LogoBookmark{
                background-color: white;
                mask-image: url(../../images//logo-bookmark.svg);
                background-image: none;
                mask-size: cover;
                width: 15rem;
                height: 2.5rem;
            }
        }

        .Navigation{
            grid-column: col-start 3/ col-end 6;
            grid-row: first / second;
            margin-left: -5rem;
            padding: 0 0rem 0 4rem;

            @include respond(phone-375 ){
                margin-top: 3rem;
                margin-bottom: 3rem;
                margin-left: 0rem;
                padding: 0;
            }

            ul{
                display: flex;
                justify-content: space-evenly;
                list-style: none;

                @include respond(phone-375 ){
                    flex-direction: column;
                    justify-content: center;
                }
            }

            .NavItem{
                color: white;
                text-transform: uppercase;
                font-size: 1.3rem;
                transition: all .3s;
                cursor: pointer;

                &:hover{
                    color: var(--base_color_red)
                }

                @include respond(phone-375 ){
                    font-size: 1.6rem;
                    margin-bottom: 1rem;
                    text-align: center;
                    padding: 1.5rem;
                }
                
            }
        }

        .FacebookTwitter{
            grid-column: col-start 12/ col-end 12;
            grid-row: first / second;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 2rem;
            align-items: center;
            
            @include respond(phone-375 ){
                grid-column-gap: 5rem;;
            }

            .LogoFacebook,.LogoTwitter {
                background-color: white;
                mask-size: cover;
                width: 2.5rem;
                height: 2.5rem;
                transition: all .3s;

                &:hover{
                    background-color: var(--base_color_red);
                }
            } 

            .LogoFacebook{
                mask-image: url(../../images/icon-facebook.svg);
            }

            .LogoTwitter{
                mask-image: url(../../images/icon-twitter.svg);
            }
          

            svg{
                &:hover{
                    fill: red;
                    stroke: var(--base_color_red);
                }
            }
        }
    }
    
}